@import url(https://www.cufonfonts.com/font/gravity);


*{
    margin: 0;
    padding: 0;
}

header{
    width: 125%;
    background-color: #F1F5FB;
    height: 70px;
}

.ancho{
    width: 80%;
    height: 70px;
    background-color: #F1F5FB;
    margin: auto;
}

.logo {
    width: 15%;
    background-color: #F1F5FB;
    float: left ;
    padding-top: 0px;
    box-sizing: border-box;
    padding-left: 18px;

}

nav ul{
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    float: left;
    padding: 20px;
}

ul li {
    list-style-type: none; 
    display: inline-block;
    font-family: 'Gravity Light';
}


/*estilo de texto*/
p{
    font-family: 'Gravity Light';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform:none;
    color: #1C8995;
    padding: 20px;
    margin-right: 400px;
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
    }

    a{
        color: black;
        text-decoration: none;
        padding: 20px;
    }

    .color{
        width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 15%;
    }


.inicio{
        background-image: url("../JPG/fondo\ de\ color.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

body{
    background-color: #F1F5FB;

}
.fondo{
    width: 100%;
}

.presentacion{
    width: 125%;
    text-align: center;
    background-color: #F1F5FB;
}

.foto-personal{
    width: 10%;
    padding-top: 20px;
    box-sizing: border-box;
    float: left;

}

.presentacion-parrafo{
margin: 0 auto;
display: flex;
flex-direction: column;
font-size: 20px;
padding: 0.5em 1em;
}

.container-fluid {
	margin: auto;
}

.single-team {
	position: relative;
	width: 300PX;
	height: 500px;
	background-size: cover;
	background-position: center;
	overflow:auto;
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.single-team:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #161619;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all .35s ease 0s
}

.single-team:hover:before {
	opacity: 1
}
.single-team .content {
	width: 90%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 5%
}
.single-team .content:after, .single-team .content:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: all .7s ease 0s
}
.single-team .content:before {
	transform: scale(0, 1);
	transform-origin: 0 0 0
}
.single-team .content:after {
	transform: scale(1, 0);
	transform-origin: 100% 0 0
}
.single-team:hover .content:after, .single-team:hover .content:before {
	opacity: 4;
	transform: scale(4);
	transition-delay: .15s
}
.single-team h3 {
	font-size: 31px;
	font-weight: 700;
	color: #fff;
	margin: 160px 0;
	opacity: 0;
	transform: translate3d(0, -50px, 0);
	transition: transform .5s ease 0s;
	text-align: center;
	line-height: 1.4;
	font-family:'Gravity Light';
    font-style: normal;
	text-transform: uppercase;
}
.single-team h3 span {
	font-family:'Gravity Light';
    font-style: normal;
	font-size: 18px;
	display: block;
	letter-spacing: 5px;
	opacity: .5;
}
.single-team:hover h3 {
	opacity: 1;
	transform: translate3d(0, 0, 0)
}
@media (max-width: 991px) {
	.single-team {
		margin-bottom: 30px;
	}
}

/*comiendo a poner grid area*/

.presentacion{
    grid-area: presentacion;
}

.presentacion-parrafo{
    grid-area: presentacion parrafo;

}

nav{
    grid-area: nav;
}

/*acomodo las grid areas*/

.grilla-general{
    margin-bottom: 1.5em;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "presentacion"
    "nav"
    "presentacion parrafo";
}

@media (min-width: 768px){
    
.fondo{
    width: 10%;
}

.presentacion{
    width: 125%;
    display: flex;
    text-align: left;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 980px;
    background-color: #F1F5FB;
}

.foto-personal{
    width: 10%;
    padding-top: 20px;
    box-sizing: border-box;
    float: left;
    align-items: center;

}

.texto-presentacion{
margin: 0 auto;
text-align: justify;
font-size: 20px;
padding: 0.5em 1em;
}

}